.table {
  margin-bottom: 40px;
}

/* Table Heading */

.table-head-field {
  cursor: pointer;
}

.heading-asc {
  background-color: green; /* temp */
}

.heading-desc {
  background-color: red; /* temp */
}

/* Summary */

.summary {
  display: flex;
  margin-bottom: 10px;
}

.summary-row {
  margin: 0;
}

.summary-row:not(:last-child) {
  margin-right: 15px;
}

.summary-key {
  margin-right: 5px;
}

/* Pagination */

.pagination-wrapper {
  display: flex;
  justify-content: center;
}
