.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  width: 45%;
}

.button:not(:last-child) {
  margin-right: 25px;
}

/* Filter */

.filter {
  margin-bottom: 20px;
}

.btn-find {
  width: 20%;
}
